body {
    background-color: white;
    text-align: center;
}
body, input, button, select, option, textarea {
    font-family: 'Avenir', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
body, button, select, option, textarea {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.231;
}

#main {
    width: 50em;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em auto 0.5em auto;
    text-align: left;
    box-shadow: 1px 1px 5px #888888;
}

.logo {
    display: inline-block;
    background-image: url('http://cdn2.hubspot.net/hub/464282/file-2201499289-png/Assets/img/logo-color.png?t=1449168615751');
    background-repeat: no-repeat;
    background-size: 192px auto;
    width: 192px;
    height: 79px
}

h3 {
    margin-top: 2em;
}

.progress-bar {
    background: #569DD3;
    height: 1.3em;
    border-radius: 0.3em;
}
.progress-bar.progress-aborted {
    background-color: #CB2922;
}

.button {
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-radius: 0.3em;
    display: inline-block;
    text-align: center; 
    text-decoration: none;
    font-size: 0.9em;
    color: black;
    padding: 0.1em 0 0.1em 0;
    margin: 0.5em;
}
.button:enabled:active {
    background-color: #555;
    color: white;
}
.button:disabled {
    border: 1px solid #f4f4f4;
    border-bottom: 1px solid #e7e7e7;
    color: #777;
}
.button .progress-bar {
    height: 1.2em;
    margin-bottom: -1.2em;
}

.upload-form {
    padding: 0.5em;
    border: 1px dashed #E5E5E5;
}
 .upload-form table {
    width: 100%;
}
.upload-form input {
    width: 100%;
    margin-left: -0.5em;
}

.upload-button {
    margin: 1.5em 0 0.5em 0;
}

.download-button {
    margin: 0.2em 0 0em 0;
}

.note {
    font-style: italic;
}

.highlight {
    color: #CB2922;
}

.fileList {
    list-style-type: none;
    padding-left: 0;
}
.fileList li {
    display: block;
    background-color: #E5E5E5;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px solid #C7C8C9;
    margin-bottom: 0.1em;
}
.fileList li:hover {
    background-color: #C7C8C9;
} 

@keyframes processing-animation {
    from { background: #569DD3; }
    to   { background: #CB2922; }
}

.indicator {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    display: inline-block;
    margin-bottom: -0.5em;
    margin-right: 0.5em;
    background-color: #569DD3;
    -webkit-animation: processing-animation 2s infinite alternate;
    animation: processing-animation 2s infinite alternate;
}